body {
    background-color:palegoldenrod;"
    font-family: "Arial"
}

h1 {
    font-size: 35pt
}

p {
    font-size: 20pt
}

::backdrop {
    c
}

.chartContainer {
    border: 2px solid #000000;
    width:40%;
    margin: auto;
}